.avatar {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    overflow: hidden;
}
.avatar-swipes {
    width: 550px;
    height: 680px;
}
.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}